<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Froggy"
        tools:targetApi="31">

        <!--
        A launchable activity must be exported as of Android 12, which also makes it available to other apps.-->
        <activity
            android:name="com.runoob.froggy.ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <!--标识为activity的开始-->
                <action android:name="android.intent.action.MAIN" />
                <!--用于显示用户的数据-->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>